.homelogo img{
  width: 235px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:18px;
  margin-top: 0px;
}

.left-pane{
  width:50%;
  background: purple;
}

.right-pane{
  width:50%;
  background: purple;
}

.button{
  text-align: left;
  margin-bottom: 20px;
}

.left-space{
  margin-left:20px;
}

.latest{
  text-align: center;
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 1px;
  font-family: sans-serif;
  background-color: black;
  border-color: black;
  color: white;
  border-radius: 100px;
  padding: 8px 8px 8px 8px;
  width: 10em;
}

.contact-email{
  margin-left: 0px;
}
/* Navigation */
nav{
  display: flex;
}

nav ul li {
  font-family:sans-serif;
  font-variant: all-small-caps;
  letter-spacing: 2px;
  font-size: 23px;
  display:inline;
  font-weight: 100;
  padding: 10px;
}

li a{
  color: white;
}

a{
  text-decoration: none;
}

nav a:hover, a:active{
  color:white;
  text-decoration: underline;
}
.current-page{
  color:white;
  text-decoration: underline;
}

.nav-container {
  flex-direction: row;
  background-color: black;
}

.nav-bar {
  padding-left: 70px;
  text-align: center;
}

body {
  background-color:white;
  background-size:cover;
  margin:0;
}
.header {
  color: black;
  /* background-color: #E8C943; */

}
.footer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-shrink: 3;
  width: 100%;
  color: black;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 10px;

}
.footer p{
  align-self: center;
  text-align: center;
  flex-shrink: 1;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 14px;
  font-variant: small-caps;
  padding: 10px 30px 30px 30px;
}

.footer a {
  color:white;
}

h1 {
  font-family: sans-serif;
  font-size: 300%;
  text-align: center;
  color:black;
  font-variant: small-caps;
  margin: 0 auto;
}

h2 {
  margin-top: 2%;
  margin-left: 2%;
  font-family:sans-serif;
  font-weight: 100;
  font-size: 300%;
}

p {
  font-family:sans-serif;
  font-size: 18px;
  color:black;
  font-weight: lighter;
  line-height: 150%;
  margin-left: 2%;
  margin-right: 2%;
}

.page-title {
  font-weight: lighter;
}

.navlogo {
  margin: 0px 0px;
  padding: 17px 5px 0px 65px;
  width: 60%;
  font-size: 30px;
  text-indent: 0em;
  color: white;
}

.about-p{
  padding-bottom: 10%;
  width: 55%;
}

.fa-custom{
  text-decoration: none;
  color:black;
}

/*tablet*/
@media (min-width:600px) and (max-width:900px){
  nav{
    text-align: center;
  }
  nav ul li{
    flex:none;
    font-size: 22px;
  }
  h1{
    text-align: center;
  }

  img{
    float:inherit;
    padding: 0px;
    margin: 10px 0px 10px 10px;
  }

  .responsive {
  max-width: 100%;
  height: auto;
  }

}

/*mobile*/
@media (max-width: 600px) {

  nav{
    text-align:center;
  }
  nav ul li {
    padding: 5px 5px;
    font-size: 22px;
  }

  nav ul {
    display: flex;
    flex-direction: column;
  }

  .navlogo {
    width: 100%;
  }

  .footer {
    flex-direction: column;
  }

  .footer p {
    flex-shrink: 1;
    margin: auto;
  }

  img{
    resize:both;
    float:none;
    padding: 0px;
    margin: 10px 0px 10px 0px;
  }

  .responsive {
    max-width: 100%;
    height: auto;
  }

  .fa {
    padding: 20px;
  }

  .pic{
    margin:0px;
  }
}
